@model AssessmentAcc.Models.Transactions

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transactions</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomorUrut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomorUrut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TanggalPemesanan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TanggalPemesanan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TanggalPengiriman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TanggalPengiriman)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TermOfPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TermOfPayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JumlahNominal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JumlahNominal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusApproval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusApproval)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
